{% extends 'base.html' %}
<DOCTYPE html>
  <html>
    <head>
      <title>Coffee Shop List</title>
    </head>
    <body>
      {% block content %}
      <h1>Rate {{ coffee_shop.name }}</h1>
      <div class="card mb-3">
        <img
          src="{{ coffee_shop.image.url }}"
          class="card-img-top"
          alt="{{ coffee_shop.name }}"
          style="height: 300px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">{{ coffee_shop.name }}</h5>
          <p class="card-text">
            {{ coffee_shop.name }} is a {{ coffee_shop.description }}.
          </p>
          <p class="card-text">{{ coffee_shop.address }}</p>
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="Rating">Rating</label>
          <div class="rating">
            <input type="radio" name="rating" id="star1" value="1" />
            <label for="star1" class="fa fa-star"></label>
            <input type="radio" name="rating" id="star2" value="2" />
            <label for="star2" class="fa fa-star"></label>
            <input type="radio" name="rating" id="star3" value="3" />
            <label for="star3" class="fa fa-star"></label>
            <input type="radio" name="rating" id="star4" value="4" />
            <label for="star4" class="fa fa-star"></label>
            <input type="radio" name="rating" id="star5" value="5" />
            <label for="star5" class="fa fa-star"></label>
          </div>
        </div>
        <!-- review -->
        <div class="form-group">
          <label for="review">Review</label>
          <textarea
            class="form-control"
            id="review"
            name="review"
            rows="3"
          ></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>
      {% endblock %}
    </body>
  </html>
</DOCTYPE>
