{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Shop Rating</title>
  </head>
  <body>
    {% block content %}
    <h1>Coffee Shop Rating and Reviews</h1>
    <h2>{{ coffee_shop.name }}</h2>
 {% for rating in ratings %}
      <div class="card mx-2 my-2" style="width: 20rem">
        <div class="card-body">
          <!-- <h5 class="card-title">{{ rating.user }}</h5> -->
          <p class="card-text"> <Strong>Ratings :</Strong> {{ rating.rating }} / 5 </p>
          <p class="card-text"> <Strong>Reviews :</Strong> {{ rating.review }}</p>
        </div>
      </div>
      {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>
